<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="material-design-lite" version="1.1.2" targetFramework="net46" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net46" />
  <package id="MaterialDesignThemes" version="2.3.1-ci931" targetFramework="net46" />
</packages>